<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/ariana">Ariana</a></li>
            <li><a href="/taylor">Taylor</a></li>
            <li><a href="/selena">Selena</a></li>
            <li><a href="/zayn">Zayn</a></li>
        </ul>
    </nav>
    <hr>
</header>
